# 0. Importando Bibliotecas

In [1]:
import pandas as pd
import requests
from requests.structures import CaseInsensitiveDict

# 1. Carregando dados usando uma solicitação da web

In [2]:
# Site e informações da requisição
url = "https://api2.realtor.ca/Listing.svc/PropertySearch_Post"

headers = CaseInsensitiveDict()
headers["authority"] = "api2.realtor.ca"
headers["accept"] = "*/*"
headers["user-agent"] = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/97.0.4692.71 Safari/537.36"
headers["content-type"] = "application/x-www-form-urlencoded; charset=UTF-8"
headers["sec-gpc"] = "1"
headers["origin"] = "https://www.realtor.ca"
headers["sec-fetch-site"] = "same-site"
headers["sec-fetch-mode"] = "cors"
headers["sec-fetch-dest"] = "empty"
headers["referer"] = "https://www.realtor.ca/"
headers["accept-language"] = "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7"
headers["cookie"] = "visid_incap_2269415=muoD4q7zRLu7xN1m4bBqzTQl3GEAAAAAQUIPAAAAAAD38KiNO1t29F4wQLgwv4o6; nlbi_2269415=fufpRG3iZXA1ybjskG5lugAAAADrplQvRokxgGBBXCKPD8+h; incap_ses_1291_2269415=SgY6Yy46vRjVOD92D47qETUl3GEAAAAAWm2hYKcsD+iox5bL4mUY8w==; incap_ses_1476_2269415=P0nVBowxhzFc4JmzR857FDUl3GEAAAAAUpKstbfl0X2PHe4H6Jf/Dg==; gig_bootstrap_3_mrQiIl6ov44s2X3j6NGWVZ9SDDtplqV7WgdcyEpGYnYxl7ygDWPQHqQqtpSiUfko=gigya-pr_ver4; ASP.NET_SessionId=j1fnmpbdhc5lr0icak0wv2zn; visid_incap_2271082=gCzjZi7GSDGqG1ZjU5pq7nAl3GEAAAAAQUIPAAAAAADeKRcD3r2Wxpm9Vs8Mndvt; nlbi_2271082=8aazJdLALHWa3xTxcbDG1QAAAAD9YES4zCXffzBUkPf1qC/U; incap_ses_1476_2271082=9N+MKBbThCckSpqzR857FHEl3GEAAAAAhsoge2AvWrCjuGi1iEpcNA==; nlbi_2269415_2147483646=GdYCOJ/P9TAWpH8gkG5lugAAAADNsvmEahUBUtBpIWe3P5lu; reese84=3:+NoFzjgVLw+cKHmp/nEPMw==:kHBIdkpQ7yrJ0MnoVzPmXMyaRp2YCsoE0ISHtKGxdNb77JlfSicPYlwsm+lLAVji0zmti0XH1n8s1tLUKQX0vqYBhPTWwJXKnOzTyI0CUJ5ttKdRpSPc320C2EvXBt3y7mM58A0nN6/YtfiIMlpEnQp6NdZTupW8m8hiWoCknLXHvqsXYibjUP1kjWh2s6qCHAMkaq9lOjs6QqydKpb2DQLsCdzCkBmmNfoCTvw065b3NvhxlTRgk1y4zJtsmVKl7hkJZD8V9NW6GxEOapnkXTNesuM/fJso14RQKT+icyll7+kNJa51zrDLWpZPL/75cUsLDVOcbjSvPqlmsN4+A0zyQJaSL+nOYqDy+2DaxdZfpR1aUPGGnJlfJaIGvHLL8Gam0m1eSVLwhVRuK7J2wawl2utMBDXCEI3m8TXBZAg=:S+vNB3cfHiQD7IMzSMA8WPwzKpy+w+bUxaKUIM5oh0c="

data = "ZoomLevel=10&LatitudeMax=45.62325&LongitudeMax=-75.15382&LatitudeMin=44.87493&LongitudeMin=-76.44608&Sort=6-D&PropertyTypeGroupID=1&PropertySearchTypeId=1&TransactionTypeId=2&Currency=CAD&RecordsPerPage=12&ApplicationId=1&CultureId=1&Version=7.0&CurrentPage=1"


response = requests.post(url, headers=headers, data=data)

In [3]:
# Status da requisição
response

# 2. Modificações Iniciais

## 2.1 Transformando

In [4]:
# Transformando os dados recebidos todos em JSON
result_json = response.json()

In [5]:
# Verificando se todas as Keys foram importadas corretamente.
result_json.keys()

dict_keys(['ErrorCode', 'Paging', 'Results', 'Pins', 'GroupingLevel'])

## 2.2 Capturando o objetivo

In [6]:
# Ponto inicial de toda a parte da estração das informações
result_items = result_json['Results']

In [7]:
len(result_items)

12

# 3. Buscando os dados
Objetivo de encontrar todas os caminhos das informações que queremos extrair, tais quais:
- Address
- Bedrooms
- Bathrooms
- Agent Name
- Area Code
- Phone Number
- Price

In [8]:
# Address
result_items[0]['Property']['Address']['AddressText']

'22 BRODER CRESCENT|Morrisburg, Ontario K0C1X0'

In [9]:
# Bedrooms
result_items[0]['Building']['Bedrooms']

'2 + 0'

In [10]:
# Bathrooms
result_items[0]['Building']['BathroomTotal']

'2'

In [11]:
# Agent Name
result_items[0]['Individual'][0]['Name']

'Natalie Sobhie'

In [12]:
# Area Code
result_items[0]['Individual'][0]['Phones'][0]['AreaCode']

'613'

In [13]:
# Phone Number
result_items[0]['Individual'][0]['Phones'][0]['PhoneNumber']

'913-7653'

In [14]:
# Price
result_items[0]['Property']['Price']

'$385,000'

# 4. Criando uma rotina de execução.

In [15]:
# Criação dos vetores que iram receber as informações
address = []
bedrooms = []
bathrooms = []
agent_name = []
area_code = []
phone_number = []
price = []

In [16]:
# Laço que irá varrer todos os dados presentes em 'result_items' e irá fazer a 
# extração das informações
for result in result_items:
  try:
    address.append(result['Property']['Address']['AddressText'])
  except:
    address.append('N/A')
  
  try:
    bedrooms.append(result['Building']['Bedrooms'])
  except:
    bedrooms.append('N/A')

  try:
    bathrooms.append(result['Building']['BathroomTotal'])
  except:
    bathrooms.append('N/A')

  try:
    agent_name.append(result['Individual'][0]['Name'])
  except:
    agent_name.append('N/A')

  try:
    area_code.append(result['Individual'][0]['Phones'][0]['AreaCode'])
  except:
    area_code.append('N/A')
  
  try:
    phone_number.append(result['Individual'][0]['Phones'][0]['PhoneNumber'])
  except:
    phone_number.append('N/A')

  try:
    price.append(result['Property']['Price'])
  except:
    price.append('N/A')

#5. Criando o DataFrame

In [17]:
# Estrutura para a criação do Dataframe
dictionary = {
    'Address' : address,
    'Bedrooms' : bedrooms,
    'Bathrooms' : bathrooms,
    'Agent Name' : agent_name,
    'Area Code' : area_code,
    'Phone Number' : phone_number,
    'Price' : price
}

In [18]:
df_realtor = pd.DataFrame(dictionary)
df_realtor.head()

                                             Address  ...       Price
0      22 BRODER CRESCENT|Morrisburg, Ontario K0C1X0  ...    $385,000
1         82 LONGWORTH AVENUE|Ottawa, Ontario K1T0S7  ...    $699,900
2  40 BOTELER STREET UNIT#402|Ottawa, Ontario K1N9C8  ...  $1,350,000
3         48 BERGERON PRIVATE|Ottawa, Ontario K1C0C2  ...    $455,000
4          1505 BASELINE ROAD|Ottawa, Ontario K2C3L4  ...    $369,900

[5 rows x 7 columns]

# 6. Executando com todas as paginas do site
O objetivo agora é fazer o fluxo percorrer todas as páginas que o site possui.

In [19]:
address = []
bedrooms = []
bathrooms = []
agent_name = []
area_code = []
phone_number = []
price = []

for i in range(1 ,51):
  url = "https://api2.realtor.ca/Listing.svc/PropertySearch_Post"

  headers = CaseInsensitiveDict()
  headers["authority"] = "api2.realtor.ca"
  headers["accept"] = "*/*"
  headers["user-agent"] = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/97.0.4692.71 Safari/537.36"
  headers["content-type"] = "application/x-www-form-urlencoded; charset=UTF-8"
  headers["sec-gpc"] = "1"
  headers["origin"] = "https://www.realtor.ca"
  headers["sec-fetch-site"] = "same-site"
  headers["sec-fetch-mode"] = "cors"
  headers["sec-fetch-dest"] = "empty"
  headers["referer"] = "https://www.realtor.ca/"
  headers["accept-language"] = "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7"
  headers["cookie"] = "visid_incap_2269415=muoD4q7zRLu7xN1m4bBqzTQl3GEAAAAAQUIPAAAAAAD38KiNO1t29F4wQLgwv4o6; nlbi_2269415=fufpRG3iZXA1ybjskG5lugAAAADrplQvRokxgGBBXCKPD8+h; incap_ses_1291_2269415=SgY6Yy46vRjVOD92D47qETUl3GEAAAAAWm2hYKcsD+iox5bL4mUY8w==; incap_ses_1476_2269415=P0nVBowxhzFc4JmzR857FDUl3GEAAAAAUpKstbfl0X2PHe4H6Jf/Dg==; gig_bootstrap_3_mrQiIl6ov44s2X3j6NGWVZ9SDDtplqV7WgdcyEpGYnYxl7ygDWPQHqQqtpSiUfko=gigya-pr_ver4; ASP.NET_SessionId=j1fnmpbdhc5lr0icak0wv2zn; visid_incap_2271082=gCzjZi7GSDGqG1ZjU5pq7nAl3GEAAAAAQUIPAAAAAADeKRcD3r2Wxpm9Vs8Mndvt; nlbi_2271082=8aazJdLALHWa3xTxcbDG1QAAAAD9YES4zCXffzBUkPf1qC/U; incap_ses_1476_2271082=9N+MKBbThCckSpqzR857FHEl3GEAAAAAhsoge2AvWrCjuGi1iEpcNA==; nlbi_2269415_2147483646=GdYCOJ/P9TAWpH8gkG5lugAAAADNsvmEahUBUtBpIWe3P5lu; reese84=3:+NoFzjgVLw+cKHmp/nEPMw==:kHBIdkpQ7yrJ0MnoVzPmXMyaRp2YCsoE0ISHtKGxdNb77JlfSicPYlwsm+lLAVji0zmti0XH1n8s1tLUKQX0vqYBhPTWwJXKnOzTyI0CUJ5ttKdRpSPc320C2EvXBt3y7mM58A0nN6/YtfiIMlpEnQp6NdZTupW8m8hiWoCknLXHvqsXYibjUP1kjWh2s6qCHAMkaq9lOjs6QqydKpb2DQLsCdzCkBmmNfoCTvw065b3NvhxlTRgk1y4zJtsmVKl7hkJZD8V9NW6GxEOapnkXTNesuM/fJso14RQKT+icyll7+kNJa51zrDLWpZPL/75cUsLDVOcbjSvPqlmsN4+A0zyQJaSL+nOYqDy+2DaxdZfpR1aUPGGnJlfJaIGvHLL8Gam0m1eSVLwhVRuK7J2wawl2utMBDXCEI3m8TXBZAg=:S+vNB3cfHiQD7IMzSMA8WPwzKpy+w+bUxaKUIM5oh0c="

  data = f"ZoomLevel=10&LatitudeMax=45.62325&LongitudeMax=-75.15382&LatitudeMin=44.87493&LongitudeMin=-76.44608&Sort=6-D&PropertyTypeGroupID=1&PropertySearchTypeId=1&TransactionTypeId=2&Currency=CAD&RecordsPerPage=12&ApplicationId=1&CultureId=1&Version=7.0&CurrentPage={i}"


  response = requests.post(url, headers=headers, data=data)
  
  
  result_json = response.json()

  result_items = result_json['Results']

  for result in result_items:
    try:
      address.append(result['Property']['Address']['AddressText'])
    except:
      address.append('N/A')
    
    try:
      bedrooms.append(result['Building']['Bedrooms'])
    except:
      bedrooms.append('N/A')

    try:
      bathrooms.append(result['Building']['BathroomTotal'])
    except:
      bathrooms.append('N/A')

    try:
      agent_name.append(result['Individual'][0]['Name'])
    except:
      agent_name.append('N/A')

    try:
      area_code.append(result['Individual'][0]['Phones'][0]['AreaCode'])
    except:
      area_code.append('N/A')
    
    try:
      phone_number.append(result['Individual'][0]['Phones'][0]['PhoneNumber'])
    except:
      phone_number.append('N/A')

    try:
      price.append(result['Property']['Price'])
    except:
      price.append('N/A')

In [20]:
dictionary = {
    'Address' : address,
    'Bedrooms' : bedrooms,
    'Bathrooms' : bathrooms,
    'Agent Name' : agent_name,
    'Area Code' : area_code,
    'Phone Number' : phone_number,
    'Price' : price
}

In [21]:
df_realtor = pd.DataFrame(dictionary)
df_realtor.head()

                                             Address  ...       Price
0      22 BRODER CRESCENT|Morrisburg, Ontario K0C1X0  ...    $385,000
1         82 LONGWORTH AVENUE|Ottawa, Ontario K1T0S7  ...    $699,900
2  40 BOTELER STREET UNIT#402|Ottawa, Ontario K1N9C8  ...  $1,350,000
3         48 BERGERON PRIVATE|Ottawa, Ontario K1C0C2  ...    $455,000
4          1505 BASELINE ROAD|Ottawa, Ontario K2C3L4  ...    $369,900

[5 rows x 7 columns]

In [22]:
# Resultado de todos os dados.
df_realtor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Address       600 non-null    object
 1   Bedrooms      600 non-null    object
 2   Bathrooms     600 non-null    object
 3   Agent Name    600 non-null    object
 4   Area Code     600 non-null    object
 5   Phone Number  600 non-null    object
 6   Price         600 non-null    object
dtypes: object(7)
memory usage: 32.9+ KB

# 7. Conclusão
Agora, como todas as informações coletadas de todas as páginas, temos um mar de possibilidades de análises, tratamentos, tendo em vista que só foi feita nesse notebook a parte da coleta desses dados.